/* This is new color combination 
1. #1B1464
2. #0077b6
3. #00b4d8
4. #caf0f8 */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

.parent_about {
    /* background-color: yellow; */
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Noto Sans', sans-serif;
}

.parent_about_div {
    width: 65%;
    margin: auto;
    display: flex;
    background-color: #caf0f8;
    border-radius: 20px 0px 20px 0px;
    padding: 10px;
    align-items: center;
    margin-top: 50px;
}

.parent_text {
    width: 50%;
    margin: 10px;
}

.parent_text h1{
    color: #1B1464;
}

.parent_text p {
    text-align: justify;
}

.parent_img {
    width: 50%;
    margin: 10px;
}

.parent_img img{
    border-radius: 20px 0px 20px 0px;
}


/* 1550 This is for the PC View */
@media (max-width: 1550px) {}

/* 1210 This is for the Table View */
@media (max-width: 1210px) {

    .parent_about_div {
        width: 80%;
        display: flex;
        padding: 5px;
        margin-top: 20px;
        flex-direction: column;
    }

    .parent_text {
        width: 90%;
        margin: 10px;
        margin-top: 20px;
    }

    .parent_img {
        width: auto;
        margin: 10px;

    }

}

/* 910 - This is for the Mobile View */
@media (max-width: 910px) {


    .parent_about_div {
        width: 95%;
        display: flex;
        padding: 5px;
        margin-top: 20px;
        flex-direction: column;
    }

    .parent_text {
        width: 90%;
        margin: 10px;
    }

    .parent_img {
        width: 90%;
        margin: 10px;
    }


}