.navbar {
  background-color: #583101;
}

.navbar-brand {
  color: wheat;
}

.nav-item .nav-link {
  color: white;
  font-weight: 500;
}

.nav-link-down{
  color: gray;
  margin: 5px;
  font-weight: 500;
}


.nav-item Button {
  margin: 5px;
  background-color: #d4a276;
  border: 2px solid #d4a276;
  padding: 5px 0px 5px 0px;
  font-weight: bold;
  color: white;
}

.nav-item Button:hover {
  margin: 5px;
  background-color: white;
  border: 2px solid white;
  color: #583101;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
}


.navbar-nav {
  display: flex;
  align-items: center;
}

.model_body {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  background-color: #ffedd8;
}

.model_body input {
  background-color: white;
  padding: 20px;
  border: 1px solid none;
  border-radius: 10px;
  margin: 5px;
  width: 100%;
}

.navbar_textarea {
  margin: 5px;
  padding: 20px;
  border: 1px solid none;
  background-color: white;
  border-radius: 10px;
  width: 100%;
}

.model_body button {
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  border-radius: 10px;
  width: 100%;
  background-color: #583101;
  border: 1px solid #583101;
}

.model_body button:hover {
  background-color: #d4a276;
  border: 1px solid #d4a276;
  color: #583101;
}

.input_radio {
  border: 1px solid none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}