/* This is new color combination 
1. #1B1464
2. #0077b6
3. #00b4d8
4. #caf0f8 */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

.treatment_parent {
    /* background-color: yellow; */
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Noto Sans', sans-serif;
}

.treatment_one_div {
    display: flex;
    width: 65%;
    margin: auto;
    background-color: #caf0f8;
    border-radius: 20px 0px 20px 0px;
    padding: 20px;
    justify-content: space-between;
}

.div_one_text {
    width: 100%;
    margin: 10px;
    text-align: justify;
}

.div_one_img {
    width: 100%;
    display: flex;
    align-self: center;
    margin: 10px;
}

.div_one_img img {
    border-radius: 20px 0px 20px 0px;
}


.treatment_two_div {
    display: flex;
    width: 65%;
    margin: auto;
    background-color: #caf0f8;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px 0px 20px 0px;
}


.treatment_three_div {
    display: flex;
    width: 65%;
    margin: auto;
    background-color: #caf0f8;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px 0px 20px 0px;
}

.treatment_three_div p {
    text-align: justify;
}

.treatment_three_div .tab_class {
    margin-top: 30px;
}

.treatment_four_div {
    display: flex;
    width: 65%;
    margin: auto;
    background-color: #caf0f8;
    flex-direction: column;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px 0px 20px 0px;
}

.treatment_four_div p {
    text-align: justify;
    margin-top: 10px;
}

.text_img_div {
    display: flex;
    justify-content: space-between
}

.text_img_div p {
    width: 65%;
}

.text_img_div img {
    width: 25%;
    margin-left: 20px;
    border-radius: 20px 0px 20px 0px;
}




/* 1550 This is for the PC View */
@media (max-width: 1550px) {}

/* 1210 This is for the Table View */
@media (max-width: 1210px) {}

/* 910 - This is for the Mobile View */
@media (max-width: 910px) {


    .treatment_parent {
        margin-top: 50px;
        margin-bottom: 50px;
    }


    .treatment_one_div {
        width: 95%;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .treatment_two_div {
        width: 95%;
        align-items: center;
        padding: 10px;
    }

    .treatment_three_div {
        width: 95%;
        align-items: center;
        padding: 20px;
    }

    .treatment_four_div {
        width: 95%;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .text_img_div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .text_img_div p {
        width: 100%;
    }

    .text_img_div img {
        width: 100%;
        margin-left: 0px;
    }

}