/* This is new color combination 
1. #1B1464
2. #0077b6
3. #00b4d8
4. #caf0f8 */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

.gallery_parent {
    /* background-color: yellow; */
    background-color: #caf0f8;
    font-family: 'Noto Sans', sans-serif;
}

.gallery_parent_div {
    margin: auto;
    width: 65%;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery_parent_div h1 {
    font-weight: bold;
}

.gallery_parent_div hr {
    width: 30%;
    border: 2px solid #1B1464;
}

.gallery_div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}

.one_gallery_div {
    background-color: #0077b6;
    padding: 5px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    /* border-bottom: 5px solid #583101; */
}

.one_gallery_div img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.one_gallery_div h4 {
    font-size: 1.3em;
    margin-top: 5px;
}

.video_parent {
    /* background-color: pink; */
    margin-top: 100px;
    margin-bottom: 100px;
}

.video_parent_div {
    /* background-color: yellow; */
    margin: auto;
    width: 65%;
}

.video_one_div {
    display: flex;
    padding: 20px;
    margin-top: 50px;
    background-color: #caf0f8;
    border-radius: 20px 0px 20px 0px;
}

.video_text_div {
    width: 100%;
    height: 100%;
    margin: 10px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.youtube_div {
    width: 100%;
    margin: 10px;
}

.youtube_div iframe {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px 0px 20px 0px;
}




/* 1550 This is for the PC View */
@media (max-width: 1550px) {
    .gallery_div {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
    }
}

/* 1210 This is for the Table View */
@media (max-width: 1210px) {
    .gallery_div {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
}

/* 910 - This is for the Mobile View */
@media (max-width: 910px) {

    .gallery_parent_div {
        margin: auto;
        width: 95%;
        margin-top: 50px;
        margin-bottom: 50px;
        /* background-color: green; */
        text-align: center;
    }


    .gallery_div {
        display: flex;
        flex-direction: column;
        width: auto;
        /* background-color: yellow; */
        justify-self: center;
        margin-top: 20px;
    }


    .video_parent_div {
        /* background-color: yellow; */
        margin: auto;
        width: 95%;
    }

    .video_one_div {
        display: flex;
        padding: 20px;
        margin-top: 50px;
        background-color: #ffedd8;
        flex-direction: column;
        align-items: center;
    }


}