/* This is new color combination 
1. #1B1464
2. #0077b6
3. #00b4d8
4. #caf0f8 */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

.error_parent {
    font-family: 'Noto Sans', sans-serif;
    background-color: #caf0f8;
}

.error_div {
    padding: 100px;
    width: 65%;
    margin: auto;
    /* background-color: yellow; */
    text-align: center;
}

.error_div h1 {
    font-size: 10em;
    font-weight: bold;
    color: #0077b6;
}

.error_div h3 {
    font-size: 2rem;
}

.error_div p {
    font-size: 1.2rem;
}

.error_div button {
    margin: 5px;
    background-color: #0077b6;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.error_div button:hover {
    background-color: #00b4d8;
    color: #0077b6;
}